* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 100vh;
  background-color: #000000;
  z-index: -2;
}

.contents h1 {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5rem;
  font-weight: 500;
  padding: 2rem 0;
  z-index: 4;
  font-size: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.buttons button {
  padding: 1.5rem 2rem;
  margin: 0 1rem;
  background-color: transparent;
  border: solid white 1px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: 0.25s background-color;
}

.buttons button:hover {
  background-color: white;
  color: black;
  transition: 0.25s background-color;
  cursor: pointer;
}

.video {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.click-button {
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background: red;
}

.second {
  background: url(../../assets/The\ Patriot\ Kids\ -\ Cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.first {
  background: url(../../assets/Giving\ Peace\ a\ Chance\ irene\ Abuja-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.third {
  background: url(../../assets/Nkem\ Learns\ About\ Vat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.first2 {
  background: url(../../assets/REWARD\ OF\ SAVINNGS\ COVER\ -\ STARDUST.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.second2 {
  background: url(../../assets/Nkem\ Learns\ About\ Vat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.third2 {
  background: url(../../assets/The\ Patriot\ Kids\ -\ Cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.7);
}

.firstCon {
  background-color: #000000;
}

.helo {
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 20px 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.col1 {
  background: url(../../assets/star\ dust.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondcol1 {
  margin-top: 5rem;
}

.section2Col {
  background: url(./../../assets//pexel1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overAll {
  background: black;
}

.pbtn {
  margin-left: 60px;
}

@media screen and (max-width: 500px) {
  .contents h1 {
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5rem;
    font-weight: 600;
    padding: 2rem 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
